<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <span class="brand-mark"><span class="bi bi-graph-up-arrow text-white"></span></span>
            FundAdmin
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-speedometer2"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-section">Report</div>
        <div class="nav-item">
            <NavLink class="nav-link" href="report/stock-position">
                <span class="bi bi-file-earmark-bar-graph"></span> Stock Position
            </NavLink>
        </div>

        <div class="nav-section">Master Data</div>
        <div class="nav-item">
            <NavLink class="nav-link" href="master-data/shares">
                <span class="bi bi-building"></span> Shares
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="master-data/chart-of-account">
                <span class="bi bi-journal-text"></span> Chart of Account
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
