<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <span class="bi bi-graph-up me-2"></span>FundAdmin
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-speedometer2 me-2"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3 mt-2">
            <small class="text-muted text-uppercase small fw-bold px-2">Report</small>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="report/stock-position">
                <span class="bi bi-file-text me-2"></span> Stock Position
            </NavLink>
        </div>

        <div class="nav-item px-3 mt-2">
            <small class="text-muted text-uppercase small fw-bold px-2">Master Data</small>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="master-data/shares">
                <span class="bi bi-building me-2"></span> Shares
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="master-data/chart-of-account">
                <span class="bi bi-journal me-2"></span> Chart of Account
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
