@page "/master-data/shares"
@attribute [Authorize]

<PageTitle>Shares - FundAdmin Asset Management</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3>Master Data - Shares</h3>
            <div class="alert alert-secondary">
                <h5><span class="bi bi-hourglass-split me-2"></span>Coming Soon</h5>
                <p class="mb-0">
                    Halaman master data Shares sedang dalam pengembangan.
                    Fitur ini akan tersedia pada rilis berikutnya.
                </p>
            </div>
        </div>
    </div>
</div>
